[submodule "libs/requirejs/requirejs"]
	path = libs/requirejs/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "libs/requirejs/plugins/i18n"]
	path = libs/requirejs/plugins/i18n
	url = git://github.com/requirejs/i18n.git
